.comment {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--quaternary-color);
    box-shadow: 0 0 5px black;
    overflow: hidden;
    width: 50%;
}

.comment-header {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--quinary-color);
}

.comment-text {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--quinary-color);
}

.comment-footer {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--quinary-color);
    display: flex;
}