.container {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

textarea {
    padding: 10px;
    border: none;
    border-radius: 10px;
    resize: none;
    width: 100%;
}